<style>

body {
}

#overlay {
background-color: rgba(0,0,0,0.5);
height: 650px;
width: 100%;
position: absolute;
z-index: 1;
}

#navcontainer {
height: 50px;
width: 100%;
}

li  {
display: inline-block;
list-style-type: none;
margin-left: 20px;
position: relative;
z-index: 2;
} 

li a {
color: white;
font-size: 24px;
font-style: italic;
text-decoration: none;
text-shadow: 0 8px 8px rgb(0,0,0);
position: relative;
z-index: 2;
}

li a::after {
content: '';
width: 10%;
height: 5px;
background-color: red;
background: webkit-linear-gradient(to left, #FFFFFF, #1A1818);
background: linear-gradient(to left, #FFFFFF, #1A1818);
position: absolute;
bottom: 0%; left: 0%;;
border-radius: 15px;
opacity: 0;
transition: all 300ms ease;
}

li a:hover::after {
left: 0%;
width: 100%;
opacity: 1;
}

#WelcomeContainer {
background-image: url("header.jpg");
background-size: 100% 100%;
height: 650px;
overflow: hidden;
position: relative;
width: 100%;
}

#namecontainer {
color: orange;
cursor: default;
font-style: italic;
margin-top: 5%;
margin-left: -50%;
position: relative;
animation-duration: 3s;
animation-name: nameani;
animation-fill-mode: forwards;
z-index: 2;
}

@keyframes nameani{

	0% {margin-left: -50%;}
	
	100% { margin-left: 45%;}
}

#box {
height: 100px;
width: 55%;
color: orange;
cursor: default;
font-size: 36px;
font-style: italic;
margin-top: 5%;
margin-left: 200%;
position: absolute;
text-align: center;
text-shadow: 0 8px 8px rgb(0,0,0);
animation-duration: 3s;
animation-name: sumani;
animation-fill-mode: forwards;
z-index: 2;
}

@keyframes sumani{

	0% {margin-left: 200%;}
	
	100% { margin-left: 23%;}

}

@media screen and (max-width: 1100px) {
  #box { width: 65%; }
}
@media screen and (max-width: 900px) {
  #box { width: 60%; }
}
@media screen and (max-width: 750px) {
  #box { width: 65%;}
}

#Summary {
color: white;
font-family: 'Courgette';
font-size: 20px;
height: 200px;
width: 100%;
margin-top: 200px;
position: absolute;
text-align: center;
z-index: 2;
}

#skills {
height: 300px;
width: 80%;
margin-top: 10%;
margin-left: 10%;
}

#skillhead {
color: orange;
font-style: italic;
text-align: center;
}

.icons {
height: 100px;
width: 10%;
margin-left: 2%;
margin-top: 5%;
transition: all 1s;
}

.icons:hover {
transform: scale(1.15);
}

#css3icon {
margin-bottom: 1%;
transition: all 1s;
}

#css3icon:hover {
transform: scale(1.15);
}	

#css3icon {
margin-bottom: 1%;
}

#ProjectContainer{
background-image: url(PaperLanterns.jpg);
background-size: 100% 100%;
height: 1150px;
width: 100%;
margin-top: 200px;
position: relative;
}

#Projects {
display: inline-block;
height: 1000px;
width: 80%;
margin-left: 10%;
position: relative;
}

.over {
height: 40%;
width: 100%;
overflow: hidden;
}

.imgresize {
height: 100%;
width: 100%;
transition: all 1s;
}

.imgresize:hover {
transform: scale(1.05);
}

#ProjectHead {
color: orange;
font-style: italic;
text-align: center;
position: static;
}

.ProjectTitle{
color: orange;
font-style: italic;
text-align: center;
}

.PortfolioItems {
height: 40%;
width: 25%;
background-color: black;
border: 4px solid silver;
display: inline-block;
float: left;
margin-left: 2%;
margin-top: 5%;
}

@media screen and (max-width: 1400px) {
  .PortfolioItems { height: 37%;}
}
@media screen and (max-width: 1300px) {
  .PortfolioItems { height: 35%;}
}
@media screen and (max-width: 1200px) {
  .PortfolioItems { height: 34%; margin-left: 2% }
}
@media screen and (max-width: 1000px) {
  .PortfolioItems { height: 33%; margin-left: 2% }
}
@media screen and (max-width: 700px) {
  .PortfolioItems { height: 30%; margin-left: 2% }
}

.projectdesc {
color: orange;
font-style: italic;
text-align: center;
margin-left: 2%;
}

.codecontainer {
height: 50px;
width: 100%;
text-align: center;
}

.codelink {
color: white;
}

#ResumeTitle {
color: orange;
font-style: italic;
margin-top: 250px;
text-align: center;
}

#Resume {
height:1025px;
width: 75%;
margin-left: 25%;
margin-top: 50px;
}

#overlay2 {
background-color: rgba(0,0,0,0.7);
height: 200px;
width: 100%;
position: absolute;
}

#contactimg {
background-image: url("ContactPic.jpg");
background-repeat: no-repeat;
background-size: 100% 200px;
margin-top: 300px;
width: 100%;
height: 200px;
overflow: hidden;
}

@media screen and (max-width: 900px) {
  #contacthead { margin-top: -90%; }
}
@media screen and (max-width: 700px) {
  #contacthead { margin-top: -60%; }
}
@media screen and (max-width: 680px) {
  #contacthead { margin-top: -90%; }
}
@media screen and (max-width: 500px) {
  #contacthead { margin-top: -90%; }
}

#emailcontainer {
color: orange;
font-size: 36px;
font-style: italic;
margin-left: 2%;
margin-top: 2%;
position: relative;
text-align: center;
text-shadow: 0 8px 8px rgb(0,0,0);
z-index: 5;
}

@media screen and (max-width: 1000px) {
  #emailcontainer { margin-top: 5%; }
}
@media screen and (max-width: 950px) {
  #emailcontainer { margin-top: 10%; }
}
@media screen and (max-width: 700px) {
  #emailcontainer { margin-top: 15%; }
}
@media screen and (max-width: 600px) {
  #emailcontainer { margin-top: 15%; font-size: 24px;}
}

</style>
